---
import Layout from "../layouts/Layout.astro";
import HeroSection from "./sections/HeroSection.astro";
import SecondSection from "./sections/SecondSection.astro";
import QualitySection from "./sections/QualitySection.astro";
/* import InfinityCarousel from "./sections/InfinityCarousel.astro"; */
import FirstSlide from "./sections/FirstSlide.astro";
import About from "./sections/About.astro";
---

<Layout title="Agroabesan">
	<main class="bg-black">
		<HeroSection />
		<SecondSection filterColor="#00ffff" />
		<About />
		<FirstSlide />
		<QualitySection />
		<!-- <InfinityCarousel /> -->
	</main>
</Layout>
